<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MyAllowedResources" value=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.png,.bmp,.jpg,.jpeg,.gif,.css,.js,.json,.html" />
    <add key="AllowedUploadExtensions" value=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.png,.bmp,.jpg,.jpeg,.gif,.css,.js,.json,.html" />
	<add key="StaticResources" value=".pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.png,.bmp,.jpg,.jpeg,.gif,.css,.js,.json,.html,.htm" />
	<add key="DisableCache" value="false" />
	<add key="AccessPolicyCacheDurationInSeconds" value="300" />
	<add key="MenuPolicyCacheDurationInSeconds" value="300" />
  </appSettings>
</configuration>