<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2015 Your Company. 
                Powered by <a target="_blank" href="http://frapid.com/">Frapid Framework</a>,
                designed by <a target="_blank" href="http://shapebootstrap.net/">ShapeBootstrap</a>.
            </div>
        </div>
    </div>
</footer><!--/#footer-->
