@model dynamic

@{
    ViewBag.Title = "SMTP Configuration";
    Layout = ViewBag.Layout;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = "SMTP Configuration";

    scrudFactory.viewAPI = "/api/config/smtp-config";
    scrudFactory.viewTableName = "config.smtp_config";

    scrudFactory.formAPI = "/api/config/smtp-config";
    scrudFactory.formTableName = "config.smtp_config";

    scrudFactory.disabledOnEdit = ["AuthorId"];
    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs"];

    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "ConfigurationName";

    scrudFactory.layout = [
        {
            tab: "",
            fields: [
            ]
        }
    ];
</script>


<div data-ng-include="'/ScrudFactory/View.html'"></div>
<div data-ng-include="'/ScrudFactory/Form.html'"></div>