@model dynamic

@{
    ViewBag.Title = "Configure Website";
    Layout = ViewBag.Layout;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = "Configure Website";

    scrudFactory.viewAPI = "/api/forms/website/configurations";
    scrudFactory.viewTableName = "website.configurations";

    scrudFactory.formAPI = "/api/forms/website/configurations";
    scrudFactory.formTableName = "website.configurations";

    scrudFactory.excludedColumns = ["audit_user_id", "audit_ts"];

    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "WebsiteName";

    scrudFactory.layout = [
        {
            tab: "",
            fields: [
                ["ConfigurationId"],
                ["DomainName", "WebsiteName"],
                ["IsDefault", ""],
                ["Description"],
                ["BlogTitle", ""],
                ["BlogDescription"]
            ]
        }
    ];

    scrudFactory.card = {
        header: "website_name",
        meta: "domain_name",
        description: "blog_title"
    };

    $.get('/ScrudFactory/View.html', function(view) {
        $.get('/ScrudFactory/Form.html', function(form) {

            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            setTimeout(function() {
                $.cachedScript("/assets/js/scrudfactory-view.js");
                $.cachedScript("/assets/js/scrudfactory-form.js");
            }, 100);
        });
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>
