@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="ui huge header">Security Questions</div>
<div class="ui message">
    You need to answer at least two security questions
    to reset your account in case you lose access to your email.
</div>


<div id="AddSecurityQuestionButton" class="ui button">Add a Security Question</div>
<script src="/bundles/master-page.js"></script>
<script>
    function deleteQuestion(el) {
        var target = $(el).closest("div.security.question");
        var question = target.find("input.security.question:not(.answer)").val();
        var answer = target.find("input.security.question.answer").val();

        var message = "Are you sure you want to delete this question?\r\n\r\nQuestion: " + question;
        message += "\r\nAnswer: " + answer;

        var confirmed = confirm(message);
        if (confirmed) {
            target.remove();
        };
    };

    $("#AddSecurityQuestionButton").click(function () {
        var template = '<div class="security question vpad8">\
                        <div class="ui header">\
                            Security Question\
                            <a href="javascript:void(0);" onclick="deleteQuestion(this);" class="ui mini basic security question button">Delete</a>\
                        </div>\
                        <div class="ui field">\
                            <label>Question</label>\
                            <input type="text" class="security question" required />\
                        </div>\
                        <div class="ui field">\
                            <label>Answer</label>\
                            <input type="text" class="security question answer" required />\
                        </div>\
                    </div>';

        var el = $(this);
        var count = el.parent().find("div.security.question").length;

        if (count > 3) {
            alert("Only four security questions are allowed.");
            return;
        };

        el.before(template);
    });
</script>
