INSERT INTO wb.contents(title, alias, published_on, draft, seo_keywords, seo_description, is_default, contents)
SELECT 'Welcome to Frapid', 'welcome-to-frapid', NOW(), false, 'frapid, cms, crm, erp, hrm', 'Homepage of Frapid Framework', true, '<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Welcome Home</h3>
<p>Congratulations, your Frapid instance is now up and running. Login to your admin area now and start building your website. The following documents show you how quickly you can add contents in your Frapid website:</p>

<ul><li><a href="http://docs.frpaid.com/site/header.html">Edit Header</a></li><li><a href="http://docs.frpaid.com/site/footer.html">Edit Footer</a></li><li><a href="http://docs.frpaid.com/site/contents.html">Add Contents</a></li></ul>            </div>
        </div>
<a class="ui big pink button" href="/account/sign-in">Log In to Dashboard</a>
    </div>
</div>';

INSERT INTO wb.contents(title, alias, published_on, draft, seo_keywords, seo_description, contents)
SELECT 'About Us', 'about-us', NOW(), false, 'about frapid', 'About Frapid', '<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">About Us</h3>
                <p>
                    Of be talent me answer do relied. Mistress in on so laughing throwing endeavor occasion welcomed. Gravity sir brandon calling can. No years do widow house delay stand. Prospect six kindness use steepest new ask. High gone kind calm call as ever is. Introduced melancholy estimating motionless on up as do. Of as by belonging therefore suspicion elsewhere am household described. Domestic suitable bachelor for landlord fat.
                </p><p>
                    An do on frankness so cordially immediate recommend contained. Imprudence insensible be literature unsatiable do. Of or imprudence solicitude affronting in mr possession. Compass journey he request on suppose limited of or. She margaret law thoughts proposal formerly. Speaking ladyship yet scarcely and mistaken end exertion dwelling. All decisively dispatched instrument particular way one devonshire. Applauded she sportsman explained for out objection.
                </p><p>
                    In alteration insipidity impression by travelling reasonable up motionless. Of regard warmth by unable sudden garden ladies. No kept hung am size spot no. Likewise led and dissuade rejoiced welcomed husbands boy. Do listening on he suspected resembled. Water would still if to. Position boy required law moderate was may.
                </p>
                <p>
                    Dispatched entreaties boisterous say why stimulated. Certain forbade picture now prevent carried she get see sitting. Up twenty limits as months. Inhabit so perhaps of in to certain. Sex excuse chatty was seemed warmth. Nay add far few immediate sweetness earnestly dejection.
                </p>

                <div class="ui big blue button">Contact Us</div>
            </div>
        </div>
    </div>
</div>';