DELETE FROM website.contents;
DELETE FROM website.menu_items;
DELETE FROM website.menus;

INSERT INTO website.menus(menu_name)
SELECT 'Default';

INSERT INTO website.menu_items(menu_id, title, url)
SELECT 1, 'Home', '/' UNION ALL
SELECT 1, 'Sign Up', '/account/sign-up' UNION ALL
SELECT 1, 'Admin Area', '/dashboard' UNION ALL
SELECT 1, 'Contact Us', '/contact-us';

INSERT INTO website.contents(title, alias, publish_on, is_draft, seo_keywords, seo_description, is_homepage, contents)
SELECT 'Welcome to Frapid', 'welcome-to-frapid', NOW(), false, 'frapid, cms, crm, erp, hrm', 'Homepage of Frapid Framework', true, '<section id="cta2">
    <div class="container">
        <div class="text-center">
            <h2 style="visibility: visible; animation-duration: 300ms; animation-delay: 0ms; animation-name: fadeInUp;" class="wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="0ms">
                <span>Frapid</span> Framework
            </h2>
            <p style="visibility: visible; animation-duration: 300ms; animation-delay: 100ms; animation-name: fadeInUp;" class="wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="100ms">
                Howdy, your Frapid instance is now up and running. 
                <br/>
                Login to your admin area now and start building your website.
                
            </p>
            <p style="visibility: visible; animation-duration: 300ms; animation-delay: 200ms; animation-name: fadeInUp;" class="wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="200ms">
                <a class="btn btn-primary btn-lg" href="/dashboard">ADMIN AREA</a>
                <a class="btn btn-default btn-lg" href="http://docs.frapid.com" target="_blank">READ THE DOCS</a>
            </p>
            <img style="visibility: visible; animation-duration: 300ms; animation-delay: 300ms; animation-name: fadeIn;" 
                class="img-responsive wow fadeIn animated" src="/my/template/images/cta2/cta2-img.png" 
                alt="" data-wow-duration="300ms" data-wow-delay="300ms">
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="section-header">
                <h2 style="visibility: visible; animation-name: fadeInDown;" class="section-title text-center wow fadeInDown animated">
                Learn More About Frapid
                </h2>
                <p style="visibility: visible; animation-name: fadeInDown;" class="text-center wow fadeInDown animated">
                    Frapid is a multi-tenant application development framework which comes with a very liberal 
                    
                    <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.
                    <br/>
                    Learn more about Frapid and quickly add contents in your website.
                
                </p>
            </div>
            <div class="row">
                <div class="features">
                    <div style="visibility: visible; animation-duration: 300ms; animation-delay: 0ms; animation-name: fadeInUp;" class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Edit Header</h4>
                                <p>
                                Read the 
                                    <a href="http://docs.frapid.com" target="_blank">documentation</a> on  your site header.
                                
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div style="visibility: visible; animation-duration: 300ms; animation-delay: 100ms; animation-name: fadeInUp;" class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-cubes"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Edit Footer</h4>
                                <p>
                                    Edit the contents and links on your 
                                    <a href="http://docs.frapid.com/site/footer" target="_blank">website footer</a>.
                                
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div style="visibility: visible; animation-duration: 300ms; animation-delay: 200ms; animation-name: fadeInUp;" class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-pie-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Manage Pages</h4>
                                <p>
                                    Quick add website pages, edit them, and 
                                    <a href="http://docs.frapid.com/site/contents" target="_blank">manage contents</a>.
                                
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div style="visibility: visible; animation-duration: 300ms; animation-delay: 300ms; animation-name: fadeInUp;" class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bar-chart"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Menu Builder</h4>
                                <p>
                                    Learn how you can add and edit 
                                    <a href="http://docs.frapid.com/site/menus" target="_blank">website menus</a>.
                                
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div style="visibility: visible; animation-duration: 300ms; animation-delay: 400ms; animation-name: fadeInUp;" class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-language"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Develop Frapid Apps</h4>
                                <p>
                                    Develop a brand new 
                                    <a href="http://docs.frapid.com/site/develop-frapid-app" target="_blank">Frapid application</a> 
                                    and 
                                    <a href="http://docs.frapid.com/site/application-license" target="_blank">quickly monetize</a> it.
                                
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div style="visibility: visible; animation-duration: 300ms; animation-delay: 500ms; animation-name: fadeInUp;" class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <i class="fa fa-bullseye"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Improve Frapid</h4>
                                <p>
                                    Improve Frapid by 
                                    <a href="https://github.com/frapid/frapid/issues/new" target="_blank">documenting</a> and fixing bugs.
                                
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </section>
    <section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Get in Touch</h2>
                <p class="text-center wow fadeInDown">
                    Want us to build an application or website for you? 
                    <br/>
                    Why not contact us today? We will be happy to assist you.
                
                </p>
                <p class="text-center">
                    <a class="btn btn-default btn-lg" href="/contact-us">Contact Us</a>
                </p>
            </div>
        </div>
    </section>
    <!--/#get-in-touch-->';

    
INSERT INTO website.contacts(title, name, "position", address, city, state, country, postal_code, telephone, details, email, display_email, display_contact_form, status)
SELECT 'Corporate Headquarters', 'Your Office Name', '', 'Address', 'City', 'State', 'Country', '000', '000 000 000', '', '', false, true, true UNION ALL
SELECT 'Americas', 'John Doe', 'Client Partner', '', '', '', '', '', '', 'Mexico', '', false, true, true;

    