<div class="ui small modal" id="DeleteThemeModal">
    <i class="close icon"></i>
    <div class="ui red large header">
        Proceed with Caution!
    </div>
    <div class="content">
        <div class="ui large header">Are you sure you want to delete the "<span class="theme name text"></span>" theme?</div>
        <p>
            You are about to delete the selected theme.            
            Doing this will permanently delete the theme and associated files.
        </p>

        <div class="ui negative message" style="display: none;">
            <div class="ui small exception header">Cannot delete this theme because of xyz.</div>
        </div>

    </div>
    <div class="ui content attached segment">
        <div class="ui buttons">
            <div class="ui green button" onclick="showDeleteThemeModal();">
                No, Don't Delete This Theme
            </div>
            <div class="ui red button" id="DeleteThemeButton">
                Yes
            </div>
        </div>
    </div>
</div>