<div class="ui small modal" id="FileModal">
    <i class="close icon"></i>
    <div class="header">
        Create a New File
    </div>
    <div class="content">
        <div class="ui padded form">
            <div class="field">
                <label>Location</label>
                <div class="ui container label" data-container=""></div>
            </div>
            <div class="field">
                <label>File Name</label>
                <input type="text" />
            </div>
            <button class="ui button" onclick="createFile(this);">Create</button>
        </div>
    </div>
</div>