<div class="ui modal" id="NewThemeModal">
    <div class="header">
        Add a New Theme
    </div>
    <div class="content">
        <div class="ui basic segment">
            <div class="ui two column very relaxed stackable grid">

                <div class="eight wide center aligned column">

                    <i class="massive cloud upload green icon"></i>
                    <div class="vpad8"></div>

                    <div class="ui big header">
                        Upload a Theme
                    </div>

                    <div class="vpad8"></div>


                    <div class="">
                        <label for="UploadThemeInputFile" class="ui basic green button">From Local Hard Drive</label>
                        <input id="UploadThemeInputFile"
                               data-handler="/dashboard/my/website/themes/upload"
                               data-loader-id="UploaderSegment"
                               class="file"
                               style="display: none"
                               type="file">
                    </div>

                    <div class="vpad16"></div>

                    <div class="ui horizontal divider">OR</div>

                    <div class="vpad16"></div>

                    <div class="ui small header">Download Theme From</div>
                    <div class="ui fluid labeled input">
                        <div class="ui basic label">Url</div>
                        <input id="RemoteUploadUrl" type="url" value="http://">
                    </div>

                    <div class="vpad8">
                        <button class="ui left aligned basic green button" onclick="remoteUpload();">Download and Install</button>
                    </div>

                    <div class="ui error padded message" style="display: none;">
                        <div class="ui small header"></div>
                    </div>
                </div>

                <div class="ui vertical divider">
                    OR
                </div>


                <div class="eight wide column">
                    <div class="ui big header">
                        Create a Brand New Theme
                    </div>
                    <div class="ui divider"></div>
                    <form class="ui padded form">
                        <div class="field">
                            <label>Theme Name</label>
                            <input type="text" name="ThemeName" required=""/>
                        </div>
                        <div class="field">
                            <label>Author</label>
                            <input type="text" name="Author" required=""/>
                        </div>
                        <div class="field">
                            <label>Author Url</label>
                            <input type="url" name="AuthorUrl"/>
                        </div>
                        <div class="field">
                            <label>Author Email</label>
                            <input type="email" name="AuthorEmail" required=""/>
                        </div>
                        <div class="field">
                            <label>Theme Converted By</label>
                            <input type="text" name="ConvertedBy"
                                   title="If this theme was ported from another platform, enter the name of the person or company who converted this theme to frapid."/>
                        </div>
                        <div class="field">
                            <label>Released On</label>
                            <input type="date" name="ReleasedOn"/>
                        </div>
                        <div class="field">
                            <label>Theme Version</label>
                            <input type="text" name="Version"/>
                        </div>
                        <div class="field">
                            <label>Category</label>
                            <input type="text" name="Category"/>
                        </div>
                        <div class="field">
                            <label>Responsive</label>
                            <div class="ui toggle checkbox vpad8">
                                <input name="Responsive" type="checkbox" checked="checked">
                                <label>&nbsp;</label>
                            </div>
                        </div>
                        <div class="field">
                            <label>CSS Framework</label>
                            <input type="text" name="Framework"/>
                        </div>
                        <div class="field">
                            <label>Tags</label>
                            <input type="text" name="Tags" title="Comma separated list of tags."/>
                        </div>

                        <div class="ui buttons">
                            <button class="ui positive button" onclick="createTheme();">Let's Go!</button>
                            <button class="ui negative button" onclick='$("#NewThemeModal").modal("hide");'>Cancel</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>