html, body { 
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

html,
body {
    font-size: 12px;
    height: 100%;
}

#editor{
    font-size:11pt;
}

[data-ng-view], [ng-view] {
    height: 100%;
}


.footer-text {
  padding: 6px;
  color: white;
}
.footer-links a {
  padding-right: 8px;
}

.footer-links a:hover {
    color:white;
}

/* Padding Start*/
.pad8 {
  padding: 8px;
}
.tpad8 {
  padding: 8px 0 0 0;
}
.rpad8 {
  padding: 0 8px 0 0;
}
.bpad8 {
  padding: 0 0 8px 0;
}
.lpad8 {
  padding: 0 0 0 8px;
}
.vpad8 {
  padding: 8px 0;
}
.pad16 {
  padding: 16px;
}
.tpad16 {
  padding: 16px 0 0 0;
}
.rpad16 {
  padding: 0 16px 0 0;
}
.bpad16 {
  padding: 0 0 16px 0;
}
.lpad16 {
  padding: 0 0 0 16px;
}
.vpad16 {
  padding: 16px 0;
}
/* Padding End*/

#logo img {
  padding: 12px 0 0 12px !important;
  max-height: 54px;
}

label {
  cursor: pointer;
}

.big.error {
  font-weight: bold;
  font-size: large;
  color: #d4610e;
}
.exception,
.exception:hover {
  font-weight: lighter;
  color: #d4610e;
}
.error-message {
  display: block;
  font-weight: bold;
  color: #d4610e;
}

h1,
h2,
h3,
h4,
h5,
h6,
.header
 {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.currency {
  text-align: right!important;
}

input[readonly],
input[disabled],
textarea[readonly],
textarea[disabled],
select[disabled] {
  background-color: #f0f0f0 !important;
  cursor: not-allowed;
}


.date {
  cursor: pointer;
}

.hidden, .initially.hidden {
  display: none;
}

tr {
  cursor: pointer;
}

table.borderless td {
  border: none;
}

.text-right,
.text-right td,
.text.right {
  text-align: right !important;
}
.block {
  display: block;
}


table.nowrap {
  white-space: nowrap;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display: none !important;
}

.negative.modal .orange.header {
  color: #F2711C;
}
.card .content {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .cellphone.only {
        display: none!important;
    }
}

.theme.selector{
    padding:12px;
}

.ui.right.floating.dropdown .menu {
    left: auto;
    right: 0;
}

footer a, footer a:hover {
    color: white;
}

.ui.link span.text {
  padding: 8px 0 !important;
  display: block !important;
  text-align: center !important;
}

.sub.menu .item {
    padding:6px 14px 6px 20px!important;
    font-size:92%!important;
}

#main-menu .dropdown .item {
    min-width:200px;
}

#main-menu .dropdown.item .text {
    padding-right:32px;
}
