<div class="theme selector">
    <div class="ui right floating dropdown labeled icon teal button">
        <span class="text">Change Theme</span>
        <i class="theme icon"></i>
        <div class="menu">
            <div class="ui icon search input">
                <i class="search icon"></i>
                <input placeholder="" type="text">
            </div>
            <div class="divider"></div>
            <div class="header">
                <i class="theme icon"></i>
                Select Theme
            </div>
            <div class="scrolling menu">
            </div>
        </div>
    </div>
</div>
