<?xml version="1.0"?>
<configuration>
  <appSettings>
	<add key="ProviderName" value="Npgsql" />
    <add key="Server" value="localhost" />
    <add key="Port" value="5432" />
    <add key="MetaDatabase" value="postgres" />
	<add key="EnablePooling" value="true" />
	<add key="MinPoolSize" value="0" />
	<add key="MaxPoolSize" value="0" />
    <add key="SuperUserId" value="postgres" />
    <add key="SuperUserPassword" value="???" />
    <add key="UserId" value="frapid_db_user" />
    <add key="Password" value="change-on-deployment" />
    <add key="ReportUserId" value="report_user" />
    <add key="ReportUserPassword" value="change-on-deployment" />
    <add key="PostgreSQLBinDirectory" value="C:\Program Files\PostgreSQL\9.5\bin\" />
    <add key="DatabaseBackupDirectory" value="/Backups/" />
  </appSettings>
</configuration>