<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Cultures" value="ar,de,en,es,fr,ne,ru" />
    <add key="ApplicationLogDirectory" value="C:\frapid-logs" />
    <add key="MinimumLogLevel" value="Information" />
	<add key="BackupScheduleUTC" value="0, 15" />
	<add key="DefaultCacheType" value="InProc" />
	<add key="EodScheduleUTC" value="0, 5" />
	<add key="IsDevelopment" value="true" />
  </appSettings>
</configuration>