<div class="ui inverted  tophead vertical blue center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted stackable menu">

            <a class="item" href="/">Home</a>
            <a class="item" href="/site/about-us">About Us</a>

            <div class="right item">
                <a class="ui inverted button" href="/account/log-in">Log In</a>
                <a class="ui inverted button" href="/account/sign-up">Sign Up</a>
            </div>
        </div>
    </div>
</div>