@model dynamic

@{
    Layout = ViewBag.Layout;
}

<style>
    #dashboard-container {
        padding: 0;
    }
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" />
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.print.css" media="print" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.6/calendar.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.6/calendar.min.js"></script>

<style>
    #calendar {
        font-size: .87em;
        padding: 2em;
        color: #777;
    }

        #calendar * {
            font-family: 'Roboto' !important;
        }

    .fc-toolbar .search.input {
        width: 300px;
    }

    .ui.calendar table {
        min-width: 272px !important;
    }

    .ui.inverted.calendar:not(.app) {
        margin: .5em !important;
        border: 1px solid #555 !important;
    }

    .ui.inverted.calendar .calendar tr,
    .ui.inverted.calendar .calendar td,
    .ui.inverted.calendar .calendar th {
        color: #aaa;
        border-color: transparent !important;
        border-bottom-color: #555 !important;
        background: #444 !important;
    }

        .ui.inverted.calendar .calendar td.disabled {
            color: #666 !important;
        }

    .ui.inverted.calendar:not(.app) .calendar table {
        border: none !important;
    }

        .ui.inverted.calendar:not(.app) .calendar table th .link:not(.prev):not(.next) {
            font-size: 2em;
            font-weight: 300;
            color: #ccc;
        }


        .ui.inverted.calendar:not(.app) .calendar table td.link.active,
        .ui.inverted.calendar:not(.app) .calendar table td:hover {
            font-weight: 800;
            color: #fff !important;
            border-color: #2474ad !important;
            background: #2474ad !important;
        }


    .frapid.calendar.app {
        display: flex;
        padding: 0 !important;
    }

    .document.title {
        font-size: 1.4em;
        font-weight: 600;
        color: #ccc;
    }

    .left.panel {
        width: 400px;
        background: #444;
    }

    .right.panel {
        width: calc(100% - 410px);
    }

    #calendar h2 {
        font-size: 2em;
        font-weight: 400 !important;
        letter-spacing: .05em;
        text-transform: uppercase !important;
        color: #888;
    }

    #calendar td,
    .fc-list-item td {
        border-color: #efefef !important;
    }

    .fc-view-container {
        border: 1px solid #eee !important;
    }


    #calendar th {
        border-color: transparent !important;
    }

        #calendar th,
        #calendar th a,
        .fc-widget-header,
        .fc-widget-header a {
            color: #555 !important;
        }

            #calendar th:hover {
                background-color: #dfdfdf !important;
            }

    .fc-day-number {
        font-size: 2em;
        font-weight: 300;
        width: 1.2em;
        height: 1.2em;
        margin: .1em;
        padding: .5em !important;
        padding-top: .8em !important;
        padding-bottom: .3em !important;
        text-align: center;
        text-decoration: none !important;
        color: #777 !important;
        border-radius: 3em;
    }

        .fc-day-number:hover {
            background: #fafafa;
        }


    .fc-head,
    .fc-event-dot,
    .fc-list-heading,
    .fc-widget-header {
        background: #eee !important;
        background-image: none !important;
    }

    .fc-state-default {
        background-image: none !important;
    }

    .fc button {
        font-size: .87em !important;
        font-weight: 500;
        height: auto !important;
        margin-right: 1px !important;
        padding: .5em 1em !important;
        letter-spacing: .02em;
        text-transform: uppercase;
        color: #fff;
        border: none;
        background-color: #777 !important;
        text-shadow: none !important;
    }



        .fc button.fc-state-hover,
        .fc button.fc-state-active {
            background-color: #555 !important;
        }



    .fc-head th {
        padding: .78em !important;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: #333;
    }

    td.fc-day:hover,
    .fc-slats tr:hover,
    .fc-list-table tr:hover,
    .fc-list-item:hover > td {
        
    }

    .fc-event {
        font-weight: 800;
        padding: .5em!important;
        color: #555 !important;
        border-color: transparent !important;
        background: #D5DEDC !important;
    }

    .fc-axis {
        width: 80px !important;
    }

        .fc-axis.fc-widget-content {
            text-transform: uppercase;
        }

    .action .button {
        margin: 0 .5em !important;
        border: 1px solid #222 !important;
        background: #333 !important;
    }

        .action .button:hover {
            border-color: transparent !important;
            background: #2474ad !important;
        }

    .calendar .top.section {
        display: flex;
        padding: 1em;
    }

        .calendar .top.section .document.title {
            width: 300px;
            padding: .3em 0;
        }

        .calendar .top.section .action {
            width: 80px;
            text-align: right;
        }


    .ui.agendas {
        padding: 1em;
        color: #aaa;
    }

        .ui.agendas .ui.agenda,
        .ui.agendas .list {
            padding: .25em;
        }


            .ui.agendas .ui.agenda.title {
                font-size: 1.2em;
                padding: .5em 0;
                letter-spacing: .02em;
                text-transform: uppercase;
                color: #ccc;
            }

                .ui.agendas .ui.agenda.title span.day {
                    padding-right: .2em;
                    color: #7dadfa;
                }

        .ui.agendas .events .event {
            position: relative;
            display: flex;
            padding: .7em .5em;
        }

            .ui.agendas .events .active.event .dot,
            .ui.agendas .events .event:hover .dot {
                background: #7dadfa;
            }

            .ui.agendas .events .event:not(:first-of-type) {
                border-top: 1px solid #555;
            }

            .ui.agendas .events .event .dot {
                width: 1em;
                height: 1em;
                margin: .3em 0;
                border-radius: 1em;
                background: #666;
            }

            .ui.agendas .events .event .info {
                width: 100%;
                padding-top: -1em !important;
                padding-left: 1em;
            }

                .ui.agendas .events .event .info .task {
                    display: flex;
                }

                .ui.agendas .events .event .info .title {
                    font-weight: 600;
                    width: 280px;
                    color: #ccc;
                }

                .ui.agendas .events .event .info .time {
                    font-size: .87em;
                    width: calc(100% - 280px);
                    text-align: right;
                    text-transform: uppercase;
                }

    .tags {
        display: flex;
        flex-direction: row-reverse;
    }

        .tags div {
            font-size: .87em;
            margin: 2px;
            padding: .3em .8em;
            color: #fff;
            border-radius: .3em;
        }

            .tags div.type {
                background: #487399;
            }

            .tags div.reminder {
                background: #48996b;
            }

            .tags div.repeat {
                background: #555;
            }

    .new.event {
        padding: 1em;
        border: 1px solid #ddd;
    }

        .new.event .dropdown > .menu > .input {
            width: 90% !important;
        }


    .mixerp.form .field {
        margin: 0 !important;
        padding: .25em !important;
    }

    .mixerp.form .ui.dropdown {
        border: none !important;
    }

    .mixerp.form label {
        color: #777 !important;
    }

    .mixerp.form .ui.dropdown .dropdown.icon {
        padding: 4px !important;
    }

    .mixerp.form input,
    .mixerp.form .ui.search.dropdown input,
    .mixerp.form .ui.dropdown:not(.search) {
        min-height: auto !important;
        padding: 4px !important;
        color: #777 !important;
        border: none !important;
        border-bottom: 1px solid #eee !important;
        border-radius: 0 !important;
    }

    .mixerp.form .ui.search.dropdown {
        padding: 4px !important;
    }

        .mixerp.form .ui.search.dropdown .menu {
            margin: -.6em -.05em !important;
        }

    .mixerp.form .title input {
        font-size: 1.5em !important;
        color: #2474ad !important;
    }

    .ui.calendar:not(.inverted) .ui.table td {
        font-size: .9em;
        padding: .5em;
    }
</style>
<div class="ui frapid calendar app attached segment">
    <div class="left panel">
        <div class="top section">
            <div class="document title">
                Events & Schedules
            </div>
            <div class="action">
                <button id="AddEventButton" class="ui grey icon button">
                    <i class="plus icon"></i>
                </button>
            </div>
        </div>

        <div class="ui inverted date only picker calendar">
        </div>

        <div class="ui agendas">
            <div class="ui agenda title">
                <span class="day">Monday</span>
                <span class="date">1/1/2017</span>
            </div>

            <div class="events">
                <div class="event">
                    <div class="dot"></div>
                    <div class="info">
                        <div class="task">
                            <div class="title">Coffee with Mike</div>
                            <div class="time">09:00 AM</div>
                        </div>
                        <div class="location">Starbucks</div>
                        <div class="tags">
                            <div class="type">private</div>
                            <div class="reminder">2h</div>
                            <div class="repeat">repeat</div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="dot"></div>
                    <div class="info">
                        <div class="task">
                            <div class="title">Call Susan Regarding Contract</div>
                            <div class="time">11:15 AM</div>
                        </div>
                        <div class="location">Office</div>
                    </div>
                </div>
                <div class="event">
                    <div class="dot"></div>
                    <div class="info">
                        <div class="task">
                            <div class="title">Meeting with the Dentist</div>
                            <div class="time">02:00 PM</div>
                        </div>
                        <div class="location">Queensway</div>
                        <div class="tags">
                            <div class="type">private</div>
                            <div class="repeat">repeat</div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="dot"></div>
                    <div class="info">
                        <div class="task">
                            <div class="title">Go to the Gym</div>
                            <div class="time">06:00 PM</div>
                        </div>
                        <div class="location">Wellness Center</div>
                        <div class="tags">
                            <div class="type">private</div>
                            <div class="repeat">repeat</div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    <div class="dot"></div>
                    <div class="info">
                        <div class="task">
                            <div class="title">Dinner with Courtney</div>
                            <div class="time">08:15 PM</div>
                        </div>
                        <div class="location">The Ledbury</div>
                        <div class="tags">
                            <div class="type">private</div>
                            <div class="reminder">1h</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right panel">
        <div id="calendar"></div>
    </div>
</div>

<div class="new event ui small modal segment">
    <div class="ui mixerp form">
        <div class="title field">
            <input type="text" placeholder="Enter Event Title" value="Dinner with Courtney" />
        </div>
        <div class="category field">
            <div class="ui floating fluid dropdown">
                <div class="text">
                    <div class="ui red empty circular label"></div>
                    Personal
                </div>
                <div class="menu">
                    <div class="ui icon search input">
                        <i class="search icon"></i>
                        <input placeholder="Search Category" type="text">
                    </div>
                    <div class="divider"></div>
                    <div class="header">
                        <i class="calendar icon"></i>
                        Select Category
                    </div>
                    <div class="scrolling menu">
                        <div class="item">
                            <div class="ui red empty circular label"></div>
                            Personal
                        </div>
                        <div class="item">
                            <div class="ui blue empty circular label"></div>
                            Work
                        </div>
                        <div class="item">
                            <div class="ui black empty circular label"></div>
                            Organization
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="location field">
            <label>Location</label>
            <input type="text" placeholder="Enter Location" value="The Ledbury" />
        </div>
        <div class="location map">
            <img class="ui image" src="/Areas/Frapid.Calendar/images/map.png" />
        </div>
        <div class="vpad8"></div>
        <div class="field">
            <label>Starts At</label>
            <div class="ui date time picker calendar">
                <input type="text" placeholder="Starts At" value="2017-01-20T09:10:00.000Z" />
            </div>
        </div>
        <div class="field">
            <label>Ends On</label>
            <div class="ui date time picker calendar">
                <input type="text" placeholder="Ends On" value="2017-01-20T09:10:00.000Z" />
            </div>
        </div>
        <div class="field">
            <label>Timing</label>
            <div class="ui slider checkbox">
                <input name="example" type="checkbox">
                <label>All day</label>
            </div>
        </div>
        <div class="vpad8"></div>
        <div class="field">
            <label>Repeat</label>
            <div class="ui selection dropdown">
                <input name="gender" type="hidden">
                <i class="dropdown icon"></i>
                <div class="default text">None</div>
                <div class="menu">
                    <div class="item" data-value="1">None</div>
                    <div class="item" data-value="0">Every Day</div>
                    <div class="item" data-value="0">Every Week</div>
                    <div class="item" data-value="0">Every Month</div>
                    <div class="item" data-value="0">Every Year</div>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Notify Me</label>
            <div class="ui selection dropdown">
                <input name="gender" type="hidden">
                <i class="dropdown icon"></i>
                <div class="default text">None</div>
                <div class="menu">
                    <div class="item" data-value="1">None</div>
                    <div class="item" data-value="0">On Time</div>
                    <div class="item" data-value="0">5 Minutes Before</div>
                    <div class="item" data-value="0">10 Minutes Before</div>
                    <div class="item" data-value="0">15 Minutes Before</div>
                    <div class="item" data-value="0">30 Minutes Before</div>
                    <div class="item" data-value="0">1 Hour Before</div>
                    <div class="item" data-value="0">2 Hours Before</div>
                    <div class="item" data-value="0">1 Day Before</div>
                    <div class="item" data-value="0">2 Days Before</div>
                    <div class="item" data-value="0">Custom</div>
                </div>
            </div>
        </div>
        <div class="vpad8"></div>
        <div class="location field">
            <label>Note</label>
            <input type="text" placeholder="Enter Note" />
        </div>
        <div class="location field">
            <label>Url</label>
            <input type="text" placeholder="Enter Url" />
        </div>
        <div class="vpad8"></div>
        <button class="ui positive circular button">OK</button>
        <button class="ui basic circular button">Close</button>
    </div>
</div>

<script>
    window.today = (new Date()).addDays(-10).toISOString();
    function displayCalendar() {
        $('#calendar').fullCalendar({
            eventAfterAllRender: function () {
                const target = $(".fc-toolbar .fc-right");
                const hasSearch = $(".fc-toolbar .fc-right .search.input").length;

                if (hasSearch) {
                    return;
                };

                const search = $("<div id='SearchInput' class='ui search input' />");
                const el = $("<input type='text' placeholder='Search ...' />");
                el.appendTo(search);
                search.appendTo(target);
            },
            header: {
                right: '',
                left: 'title',
                center: 'prev,next today agendaDay,agendaWeek,month,listMonth,listYear'
            },
            defaultDate: window.today ? new Date(window.today) : new Date(),
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {
                    title: 'All Day Event',
                    start: '2017-01-01'
                },
                {
                    title: 'Long Event',
                    start: '2017-01-07',
                    end: '2017-01-10'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2017-01-09T16:00:00'
                },
                {
                    id: 999,
                    title: 'Repeating Event',
                    start: '2017-01-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2016-12-11',
                    end: '2017-01-13'
                },
                {
                    title: 'Meeting',
                    start: '2016-12-12T10:30:00',
                    end: '2017-01-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2017-01-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2017-01-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2017-01-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2017-01-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2017-01-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2017-01-28'
                }
            ]
        });
    };

    $(document).ready(function () {
        setTimeout(function () {
            displayCalendar();

            function getDatePickerOptions(dateOnly) {
                const options = {
                    parser: {
                        date: function (text) {
                            return new Date(text);
                        }
                    },
                    formatter: {
                        date: function (date) {
                            if (!date) return '';
                            return $.datepicker.formatDate(window.convertNetDateFormat(window.longDateFormat), date);
                        }
                    },
                    initialDate: window.today ? new Date(window.today) : new Date()
                };

                if (dateOnly) {
                    options.type = 'date';
                };

                return options;
            };

            $('.ui.date.only.picker').calendar(getDatePickerOptions(true));
            $('.ui.date.only.picker').calendar("setting", "onChange", function (date) {
                $('#calendar').fullCalendar('gotoDate', date);
            });

            $('.ui.date.only.picker').calendar("set date", new Date(window.today), false, false);

            $('.ui.date.time.picker').calendar(getDatePickerOptions(false));
        }, 1000);

    });
    $(".dropdown").dropdown({ placeholder: false });


    $("#AddEventButton").off("click").on("click", function () {
        $(".modal").modal("show");
    });
</script>
<style>
    /*body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }*/
</style>