<div class="ui bottom violet cookie policy attached message segment">
    <div class="ui text container">
        <div class="ui header">Cookie Policy</div>
        <br/>
        <p>
            <strong>Dear Visitor,</strong>
            <br/>
            Cookies are small files stored in your browser.
            They are used for technical, functional, and analytical purpose.

            We use cookies to ensure you get
            the best experience when you visit our website.
        </p>
        <p>
            By continuing to browse our website you are agreeing to our
            <a href="/site/cookie-policy">cookie policy</a>.
            You can <a href="http://www.aboutcookies.org/" target="_blank">manage and/or delete</a>
            any cookie stored in your browser.
        </p>
        <div class="ui violet small cookie policy accept button">I Accept the Cookie Policy</div>
    </div>
</div>