<footer class="ui attached inverted fading indigo footer segment">
    <div class="ui relaxed container">
        <div class="ui stackable grid">
            <div class="five wide computer sixteeen wide tablet sixteen wide mobile column">
                <div class="ui inverted thin header">About</div>
                <div class="ui divider"></div>
                MixERP CE is an open source and free ERP software that provides 
                a suite of useful modules to help you manage your day to day business activities.
                Developed with love by your friends at MixERP Inc.
            </div>
            <div class="five wide computer eight wide tablet sixteen wide mobile column">
                <div class="ui inverted thin header">Useful Links</div>
                <div class="ui divider"></div>
                <div class="ui inverted list">
                    <a class="item">
                        <i class="caret right icon"></i>
                        Terms of Service
                    </a>
                    <a class="item">
                        <i class="caret right icon"></i>
                        Cookie Policy
                    </a>
                    <a class="item">
                        <i class="caret right icon"></i>
                        Customize MixERP
                    </a>
                    <a class="item">
                        <i class="caret right icon"></i>
                        Helpdesk
                    </a>
                    <a class="item">
                        <i class="caret right icon"></i>
                        Blog
                    </a>
                    <a class="item">
                        <i class="caret right icon"></i>
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="five wide computer eight wide tablet sixteen wide mobile column">
                <div class="ui inverted thin header">Follow Us</div>
                <div class="ui divider"></div>
                <a class="ui circular facebook icon button" href="https://facebook.com/mixerp.official" target="_blank">
                    <i class="facebook icon"></i>
                </a>
                <a class="ui circular twitter icon button" href="http://twitter.com/mixoferp" target="_blank">
                    <i class="twitter icon"></i>
                </a>
                <a class="ui circular linkedin icon button" href="https://www.linkedin.com/company/mixerp" target="_blank">
                    <i class="linkedin icon"></i>
                </a>
                <a class="ui circular icon button" href="http://github.com/mixerp/mixerp/" target="_blank">
                    <i class="github icon"></i>
                </a>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui one column grid">
            <div class="center aligned column">
                <p>
                    Copyright &copy; 2013-2016. All rights reserved &reg; with MixERP Inc., Kathmandu.
                    Website & Community Forums powered by <a class="frapid" href="">Frapid Framework</a>.
                </p>
            </div>
        </div>
    </div>
</footer>