<div class="ui right wide sidebar vertical menu">
    <a class="brand item" href="/">
        <img class="logo" src="/my/template/contents/images/logo.png"/>
    </a>
    <div class="item">
        <div class="ui grey header">
            About
        </div>
        <div class="menu">
            <a class="green item" href="/site/erp/why">
                Why Pro?
            </a>
            <a class="item" href="/site/erp/demo">
                Demo
            </a>
            <a class="item" href="/site/erp/pricing">
                Pricing
            </a>
            <a class="item" href="/contact-us">Contact Us</a>
        </div>
    </div>
    <div class="item">
        <div class="ui grey header">MixERP for Pro</div>
        <div class="menu">
            <a class="item" href="/site/pro/payroll">
                Payroll Software
                <div class="ui small red label">Pro</div>
            </a>
            <a class="item" href="/site/pro/manufacturing">
                Manufacturing Software
                <div class="ui small red label">Pro</div>
            </a>
            <a class="item" href="/site/erp/customization">
                Customization
                <div class="ui small red label">Pro</div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="ui grey header">Programs</div>
        <div class="menu">
            <a class="item" href="/site/partner/join">MixERP Certified Developer</a>
            <a class="item" href="/site/partner/join">MixERP Channel Partner</a>
        </div>
    </div>
    <div class="item">
        <div class="ui grey header">Support</div>
        <div class="menu">
            <a class="item" href="/forums">Community Forums</a>
            <a class="item" href="/docs">
                User Guide
            </a>
            <a class="item">
                Helpdesk
                <div class="ui small red label">Pro</div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="ui grey header">Community Edition</div>
        <div class="menu">
            <a class="item" href="/site/erp/community-edition">
                About MixERP CE
            </a>
            <a class="item" href="/site/modules/human-resource-management">HRM Software</a>
            <a class="item" href="/site/modules/inventory-management">Inventory Management Solution</a>
            <a class="item" href="/site/modules/purchase-management">Purchase  Management Solution</a>
            <a class="item" href="/site/modules/sales-management">Sales Management Solution</a>
            <a class="item" href="/site/modules/accounting">Accounting Software</a>
            <a class="item" href="/site/modules/back-office">Back Office Solution</a>
            <a class="item" href="/site/erp/download">Download MixERP CE</a>
            <a class="item" href="/site/erp/event-based-support">Buy Support Events</a>
        </div>
    </div>
</div>