<div class="ui two column divided page very relaxed action stackable grid">
    <div class="column">
        <div class="very relaxed vertically padded section">
            <i class="circular line chart big yellow icon"></i>
            <div class="ui grey bottom padded thin huge header">
                The Best You'll Ever Get
            </div>
            <p>
                MixERP Community Edition saves you huge
                upfront and recurring costs from day one.
            </p>
            <p>
                Why do you need to buy an ERP software
                when you get the best one for free?
            </p>
            <div class="ui very relaxed divided vpad8 list">
                <div class="item">
                    <i class="big grey pie chart icon"></i>
                    <div class="content">
                        <div class="ui bottom padded small grey header">Open Source</div>
                        <p>
                            Downloaded by over a hundred people daily,
                            MixERP has crossed 50 000 downloads.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <i class="big grey star icon"></i>
                    <div class="content">
                        <div class="ui bottom padded grey small header">
                            Does Free Necessarily Mean Bad?
                        </div>
                        <p>
                            Free does not necessarily have to mean bad.
                            MixERP is free as in both freedom and free beer.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <i class="big grey users icon"></i>
                    <div class="content">
                        <div class="ui bottom padded grey small header">Free Support</div>
                        <p>
                            Got stuck on something? Ask your questions in the
                            <a href="/forums">community forums today</a>.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <i class="big grey check mark icon"></i>
                    <div class="content">
                        <div class="ui bottom padded grey small header">Only When You Need It</div>
                        <p>
                            We do not force you to buy a commercial license.
                            Use MixERP free forever and pay only
                            <a href="event-based-support.html">when you need support</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="very relaxed vertically padded section">
            <i class="circular book big yellow icon"></i>
            <div class="ui grey bottom padded thin huge header">Read the Docs</div>
            <div>
                The <a href="site/docs">ERP documentation and manual</a>
                covers the latest version of MixERP. It contains
                easy-to-follow user guides and handy administration documentation.
            </div>

            <div class="vpad8"></div>

            <i class="circular checkmark big yellow icon"></i>
            <div class="ui grey bottom padded thin huge header">Don't Miss Out</div>
            <div class="ui attached message">
                Dont miss out our offers!
                Be the first to know about ERP offer, deal, and discount
                from us.
            </div>
            <div class="ui attached form segment">
                <div class="two fields">

                </div>
                <div class="field">
                    <label>You Name</label>
                    <input placeholder="John Doe" type="text">
                </div>
                <div class="field">
                    <label>Email</label>
                    <input placeholder="john@example.com" type="email">
                </div>
                <div class="ui small positive button">Subscribe</div>
            </div>
        </div>
    </div>
</div>
