<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
    <appSettings>
        <add key="ThemeName" value="MixERP" />
        <add key="Author" value="MixERP Inc. Pvt. Ltd." />
        <add key="AuthorUrl" value="https://mixerp.org" />
        <add key="AuthorEmail" value="info@mixerp.org" />
        <add key="ConvertedBy" value="MixERP" />
        <add key="ReleasedOn" value="" />
        <add key="Version" value="" />
        <add key="Category" value="" />
        <add key="Responsive" value="Yes" />
        <add key="Framework" value="semantic-ui" />
        <add key="Tags" value="semantic-ui" />
        <add key="HomepageLayout" value="HomePageLayout.cshtml" />
        <add key="DefaultLayout" value="Layout.cshtml" />
    </appSettings>
</configuration>