@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>Sign In</h2>
<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui form segment">
            <div class="ui header">Sign In</div>
            <div class="field">
                <label>Username</label>
                <input type="text"/>
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password"/>
            </div>
        </div>
    </div>
</div>

<a href="/">Return to Website</a>