@model dynamic

@{
    ViewBag.Title = "Content Categories";
    Layout = ViewBag.Layout;
}

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>


<script>
    var scrudFactory = new Object();

    scrudFactory.title = "Content Categories";

    scrudFactory.viewAPI = "/api/forms/website/category";
    scrudFactory.viewTableName = "website.categories";

    scrudFactory.formAPI = "/api/forms/website/category";
    scrudFactory.formTableName = "website.categories";

    scrudFactory.excludedColumns = ["audit_user_id", "audit_ts"];

    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "CategoryName";

    scrudFactory.layout = [
        {
            tab: "",
            fields: [
                ["CategoryId", ""],
                ["CategoryName", "Alias"],
                ["SeoDescription"]
            ]
        }
    ];

    scrudFactory.card = {
        header: "category_name",
        meta: "alias",
        description: "seo_description"
    };



    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/bundles/scrudfactory-view.js");
            $.cachedScript("/bundles/scrudfactory-form.js");
        });
    });
</script>




<script>


    $(document).on("formready", function () {

        $("#category_name").keyup(function () {
            function getAlias(title) {
                return title.toLowerCase().replace(/ +(?= )/g, '').replace(/ /g, '-').replace(/[^\w-]+/g, '');
            };

            var category = $(this).val();
            var alias = getAlias(category);

            $("#alias").val(alias);

        });
    });
</script>
