@model dynamic

@{
    ViewBag.Title = "View Subscriptions";
    Layout = ViewBag.Layout;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = "View Subscriptions";

    scrudFactory.viewAPI = "/api/forms/website/email-subscriptions";
    scrudFactory.viewTableName = "website.email_subscriptions";

    scrudFactory.formAPI = "/api/forms/website/email-subscriptions";
    scrudFactory.formTableName = "website.email_subscriptions";

    scrudFactory.excludedColumns = ["audit_user_id", "audit_ts", "email_subscription_id"];

    scrudFactory.allowDelete = false;

    scrudFactory.card = {
        meta: "subscribedOn"
    };

    $.get('/ScrudFactory/View.html', function (view) {
        $("#ScrudFactoryView").html(view);
        $.cachedScript("/bundles/scrudfactory-view.js");
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>