html, body, .jstree {
    font-size: 12px;
}

#dashboard-container{
	height:100%!important;
	border:none!important;
}

#editor {
    font-size: 12pt;
}

#PhoneMenu a {
    display: block !important;
    text-align: center !important;
    padding: 0.8em 0;
    font-weight: bold;
    color: #1B1C1D;
}

    #PhoneMenu a span {
        display: block;
        margin: 1em !important;
    }

.apps {
    text-align: center;
}

    .apps > .item {
        display: inline-flex;
        flex-direction: column;
        padding: 0.5em 1em 0 1em;
        border: 1px solid transparent;
        width: 13em;
    }

        .apps > .item > .app > div.icon {
            padding-top: 0.25em;
            font-size: 3em;
        }

            .apps > .item > .app > div.icon i {
                text-shadow: 0.3em 0.2em 3.5em rgba(0, 0, 0, 0.7) !important;
            }

            .apps > .item > .app > div.icon .circular.icon {
                border-radius: 0.5em !important;
                box-shadow: 0.3em 0.3em 0.7em #555;
                margin-bottom: 0.25em;
            }


        .apps > .item > .app > span {
            color: #444;
            text-shadow: 0.1em 0.1em 4em #222;
            text-transform: uppercase;
            font-size: 0.87em;
        }

#PhoneMenu .item:hover, #PhoneMenu .item:active, #PhoneMenu .item:focus {
    box-shadow: inset 0 0 9em 9em rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(150, 150, 150, 0.1);
    outline: none;
}

    #PhoneMenu .item:hover i {
        transition: all 0.3s ease;
        transform: scale(1.2);
    }

.large.icon {
    font-size: 3em !important;
    text-align: center !important;
}

.ui.link span.text {
    padding: 0.7em 0 !important;
    display: block !important;
    text-align: center !important;
}

#Search input {
    text-align: center;
}

    #Search input:focus {
        min-width: 30vw;
    }

.hidden, .initially.hidden {
    display: none;
}


label, .ui.toggle.checkbox label {
    cursor: pointer;
}

.dashboard.menu {
    height: 2.5em;
}

input[readonly], input[disabled], textarea[readonly], textarea[disabled], select[readonly], select[disabled], .dropdown.disabled {
    background-color: #f0f0f0 !important;
    cursor: not-allowed;
}

[data-ng-view], [ng-view] {
    height: 100%;
}

.vpad8 {
    padding: 8px 0;
}

.error {
    color: brown;
}

.background.slider {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e3e3e3;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.dashboard.menu {
    background-color: transparent;
    border-style: none !important;
    background-image: url('/Static/images/transparent50.png') !important;
    background-repeat: repeat;
}

    .dashboard.menu .item {
        color: #f0f0f0 !important;
    }

#PhoneMenu {
    padding: 0.5em;
    border-radius: 1em;
    background-color: transparent;
    background-image: url('/Static/images/70white.png') !important;
    background-repeat: repeat;
    border: 1px dotted #e3e3e3;
}

.powered.by {
    padding: 2em;
    text-align: center;
}

.dashboard.menu .item, .dashboard.menu .item span {
    text-transform: uppercase !important;
    font-size: 0.9em;
    letter-spacing: 0.09em;
    word-spacing: 0.15em;
    font-weight: 400;
}

.powered.by a {
    color: #eaeaea;
    text-shadow: 2px 2px 5px #222;
    text-transform: uppercase !important;
    font-size: 0.87em;
    letter-spacing: 0.1em;
}

.powered.by img {
    margin: 0 auto;
}



@media (min-width: 1100px) {
    #PhoneMenu {
        padding: 4em;
    }

    .area {
        padding-top: 2em;
    }
}


.nowrap {
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table {
    font-size: 0.87em;
}

.table th {
    letter-spacing: 0.05em;
    text-transform: uppercase !important;
    font-size: 0.89em;
}


.notifyjs-corner{
	z-index:1001!important;
	  -webkit-filter: blur(0)!important;
  -moz-filter: blur(0)!important;
  -o-filter: blur(0)!important;
  -ms-filter: blur(0)!important;
  filter: blur(0)!important;
}