@model dynamic

@{
    ViewBag.Title = "User Management";
    Layout = ViewBag.Layout;
}
<div class="ui segment" style="padding: 48px;">
    <div class="ui container">
        <div class="ui huge header">Create a New User</div>
        <div class="ui stackable grid">
            <div class="six wide column">
                <div class="ui big form">
                    <div class="field">
                        <label>Email</label>
                        <input type="email" id="EmailInputEmail" required="" />
                    </div>
                    <div class="field">
                        <label>Name</label>
                        <input type="text" id="NameInputText" required="" />
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" id="PasswordInputPassword" required="" />
                    </div>
                    <div class="field">
                        <label>Confirm Password</label>
                        <input type="password" id="ConfirmPasswordInputPassword" required="" />
                    </div>
                    <div class="field">
                        <label>Office</label>
                        <select id="OfficeIdSelect" class="ui search dropdown" required=""></select>
                    </div>
                    <div class="field">
                        <label>Role</label>
                        <select id="RoleIdSelect" class="ui search dropdown" required=""></select>
                    </div>
                    <div class="field">
                        <label>Phone</label>
                        <input type="tel" id="PhoneInputTel" required="" />
                    </div>

                    <button class="ui green big button" id="CreateButton">Create</button>
                </div>
            </div>
        </div>
    </div>    
</div>

<script>
    $(".form").addClass("loading");
    //$(".dropdown").dropdown();
    window.validator.initialize($(".ui.form"));

    function bindOffices() {
        function request() {
            var url = "/api/views/core/offices/display-fields";
            return window.getAjaxRequest(url);
        };

        var ajax = request();

        ajax.success(function (response) {
            var select = $("#OfficeIdSelect");
            var options = "";

            $.each(response, function () {
                var option = "<option value='{key}'>{value}</option>";
                option = option.replace("{key}", this.Key);
                option = option.replace("{value}", this.Value);

                options += option;
            });

            select.html(options);
            $(".form").removeClass("loading");
        });

        ajax.fail(function() {
            $(".form").removeClass("loading");
        });
    };

    function bindRoles() {
        function request() {
            var url = "/api/views/account/roles/display-fields";
            return window.getAjaxRequest(url);
        };

        var ajax = request();

        ajax.success(function (response) {
            var select = $("#RoleIdSelect");
            var options = "";

            $.each(response, function () {
                var option = "<option value='{key}'>{value}</option>";
                option = option.replace("{key}", this.Key);
                option = option.replace("{value}", this.Value);

                options += option;
            });

            select.html(options);
        });
    };

    bindRoles();
    bindOffices();

    $("#CreateButton").unbind("click").bind("click", function() {
        function request(model) {
            var url = "/dashboard/account/user/add";
            var data = JSON.stringify(model);

            return window.getAjaxRequest(url, "POST", data);
        };

        var form = $(".ui.form");
        form.addClass("loading");

        var model = window.serializeForm(form);
        if (model.Password !== model.ConfirmPassword) {
            alert("Confirm password does not match with supplied password.");
            return;
        };

        var ajax = request(model);

        ajax.success(function () {
            form.removeClass("loading");
            $(".ui.form input").val("");
            window.displaySuccess();
        });

        ajax.fail(function (xhr) {
            form.removeClass("loading");
            alert(JSON.stringify(xhr));
        });
    });
</script>