@model dynamic

@{
    ViewBag.Title = "User Management";
    Layout = ViewBag.Layout;
}
<div class="ui segment" style="padding: 48px;">
    <div class="ui container">
        <div class="ui huge header">Change Password</div>
        <div class="ui stackable grid">
            <div class="six wide column">
                <div class="ui big form">
                    <div class="field">
                        <label>Select a User</label>
                        <select id="UserIdSelect" class="ui search dropdown" required=""></select>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input type="password" id="PasswordInputPassword" required="" />
                    </div>
                    <div class="field">
                        <label>Confirm Password</label>
                        <input type="password" id="ConfirmPasswordInputPassword" required="" />
                    </div>
                    <button class="ui green big button" id="ChangeButton">Change</button>
                </div>
            </div>
        </div>
    </div>    
</div>

<script>
    $(".form").addClass("loading");
    //$(".dropdown").dropdown();
    window.validator.initialize($(".ui.form"));

    function bindUsers() {
        function request() {
            var url = "/api/views/account/user-selector-view/display-fields";
            return window.getAjaxRequest(url);
        };

        var ajax = request();

        ajax.fail(function () {
            $(".form").removeClass("loading");
        });

        ajax.success(function (response) {
            $(".form").removeClass("loading");

            var select = $("#UserIdSelect");
            var options = "";

            $.each(response, function () {
                var option = "<option value='{key}'>{value}</option>";
                option = option.replace("{key}", this.Key);
                option = option.replace("{value}", this.Value);

                options += option;
            });

            select.html(options);
        });
    };

    bindUsers();


    $("#ChangeButton").off("click").on("click", function () {
        function request(model) {
            var url = "/dashboard/account/user/change-password";
            var data = JSON.stringify(model);

            return window.getAjaxRequest(url, "POST", data);
        };

        var form = $(".ui.form");
        form.addClass("loading");

        var model = window.serializeForm(form);
        if (model.Password !== model.ConfirmPassword) {
            alert("Confirm password does not match with supplied password.");
            return;
        };

        var ajax = request(model);

        ajax.success(function () {
            form.removeClass("loading");
            $(".ui.form input").val("");
            window.displaySuccess();
        });

        ajax.fail(function (xhr) {
            form.removeClass("loading");
            alert(JSON.stringify(xhr));
        });
    });
</script>