@model dynamic

@{
    ViewBag.Title = "Offices";
    Layout = ViewBag.Layout;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = "Offices";

    scrudFactory.viewAPI = "/api/config/office";
    scrudFactory.viewTableName = "config.offices";

    scrudFactory.formAPI = "/api/config/office";
    scrudFactory.formTableName = "config.offices";

    scrudFactory.disabledOnEdit = ["AuthorId"];
    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs"];

    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "OfficeName";

    scrudFactory.layout = [
        {
            tab: "",
            fields: [
            ]
        }
    ];



    scrudFactory.keys = [
        {
            property: "ParentOfficeId",
            url: '/api/config/office/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        }
    ];
</script>


<div data-ng-include="'/ScrudFactory/View.html'"></div>
<div data-ng-include="'/ScrudFactory/Form.html'"></div>