@model dynamic

@{
    ViewBag.Title = "Offices";
    Layout = ViewBag.Layout;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = "Offices";

    scrudFactory.viewAPI = "/api/forms/core/offices";
    scrudFactory.viewTableName = "core.offices";

    scrudFactory.formAPI = "/api/forms/core/offices";
    scrudFactory.formTableName = "core.offices";

    scrudFactory.excludedColumns = ["audit_user_id", "audit_ts"];

    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "OfficeName";

    scrudFactory.layout = [
        {
            tab: "",
            fields: [
            ]
        }
    ];



    scrudFactory.keys = [
        {
            property: "ParentOfficeId",
            url: '/api/forms/core/offices/display-fields',
            data: null,
            valueField: "Key",
            textField: "Value"
        }
    ];

    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/bundles/scrudfactory-view.js");
            $.cachedScript("/bundles/scrudfactory-form.js");
        });
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>