@model dynamic

@{
    ViewBag.Title = "Role Management";
    Layout = ViewBag.Layout;
}
<script>
    var scrudFactory = new Object();

    scrudFactory.title = "Role Management";

    scrudFactory.viewAPI = "/api/account/role";
    scrudFactory.viewTableName = "account.roles";

    scrudFactory.formAPI = "/api/account/role";
    scrudFactory.formTableName = "account.roles";

    scrudFactory.disabledOnEdit = ["AuthorId"];
    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs"];

    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "RoleName";
    
    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/bundles/scrudfactory-view.js");
            $.cachedScript("/bundles/scrudfactory-form.js");
        });
    });
</script>


<div data-ng-include="'/ScrudFactory/View.html'"></div>
<div data-ng-include="'/ScrudFactory/Form.html'"></div>