@model string

@{
    ViewBag.Title = "Frapid Dashboard";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Frapid Report</title>
    <style>
        html, body {
            font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
            font-size: 12px;
            color: #444;
            cursor: default;
        }

        .report.title {
            font-size: 3em;
            text-transform: fullsize-kana;
            letter-spacing: 2px;
            text-align: center;
            font-weight: 100;
        }

        h1,h2,h3,h4,h5,h6 {
            letter-spacing: 0.1em;
            font-weight: 400;            
        }

        .gridviews table {
            width: 100%;
        }

        table {
            border: 1px solid #ddd;
            border-collapse: collapse;
        }

        table td {
            border: 1px solid #ddd;
            padding: 0.5em;
        }

        table thead tr,table tfoot tr  {
            background-color: #efefef;
            text-transform: uppercase;
            font-size: 0.87em;
        }

        table thead tr th, table tfoot tr th {
            padding: 1em;
            border: 1px solid #ddd;
        }

        table tbody tr:nth-child(odd) {
            background-color: #fafafa;
        }

        .right.aligned {
            text-align: right;
        }

        .center.aligned {
            text-align: center;
        }
    </style>
</head>
<body>
    @Html.Action("ReportMarkup", new { path = Model })
</body>
</html>
