@model string

@{
    ViewBag.Title = "Frapid Dashboard";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Frapid Report</title>
    <link rel="stylesheet" type="text/css" href="/Areas/Frapid.Reports/reports.css"/>
</head>
<body>
    @Html.Action("ReportMarkup", new { path = Model })
</body>
</html>
