<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
	<!-- core CSS -->
    <link href="/my/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/my/template/css/font-awesome.min.css" rel="stylesheet">
    <link href="/my/template/css/animate.min.css" rel="stylesheet">
    <link href="/my/template/css/main.css" rel="stylesheet">
    <link href="/my/template/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/my/template/js/html5shiv.js"></script>
    <script src="/my/template/js/respond.min.js"></script>
    <![endif]-->       
    <script src="/my/template/js/jquery.js"></script>
    <script src="/my/template/js/bootstrap.min.js"></script>
    <script src="/my/template/js/smoothscroll.js"></script>
</head><!--/head-->

<body id="home" class="homepage">
    @{
        string header = ViewBag.LayoutPath + "Header.cshtml";
        string footer = ViewBag.LayoutPath + "Footer.cshtml";
    }

    @Html.Partial(header)
    @RenderBody()
    @Html.Partial(footer)
</body>
</html>