<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Author" value="shapebootstrap" />
    <add key="AuthorUrl" value="https://shapebootstrap.net/" />
    <add key="AuthorEmail" value="" />
    <add key="ConvertedBy" value="Frapid" />
    <add key="ReleasedOn" value="05 January 2015" />
    <add key="Version" value="1.0" />
    <add key="Category" value="Corporate &amp; Business" />
    <add key="Responsive" value="Yes" />
    <add key="Framework" value="Bootstrap" />
    <add key="Tags" value="business, corporate" />
    <add key="DefaultDocument" value="Layout.cshtml" />
  </appSettings>
</configuration>