@model dynamic

@{
    ViewBag.Title = "Flag Types";
    Layout = ViewBag.Layout;
}

<script>
    var scrudFactory = new Object();

    scrudFactory.title = window.translate("FlagTypes");

    scrudFactory.viewAPI = "/api/forms/config/flag-types";
    scrudFactory.viewTableName = "config.flag_types";

    scrudFactory.formAPI = "/api/forms/config/flag-types";
    scrudFactory.formTableName = "config.flag_types";

    scrudFactory.excludedColumns = ["AuditUserId", "AuditTs", "Deleted"];


    scrudFactory.allowDelete = true;
    scrudFactory.allowEdit = true;

    scrudFactory.live = "FlagTypeName";

    scrudFactory.layout = [
        {
            tab: "",
            fields: [
            ]
        }
    ];

    $.get('/ScrudFactory/View.html', function (view) {
        $.get('/ScrudFactory/Form.html', function (form) {
            $("#ScrudFactoryView").html(view);
            $("#ScrudFactoryForm").html(form);
            $.cachedScript("/assets/js/scrudfactory-view.js");
            $.cachedScript("/assets/js/scrudfactory-form.js");
        });
    });
</script>

<div id="ScrudFactoryForm"></div>
<div id="ScrudFactoryView"></div>