html,
body,
form,
table,
div,
span,
p,
option,
optgroup,
ul,
li,
ol,
button,
a,
input,
select,
table,
tr,
th,
td,
canvas,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
select,
optgroup,
option {
    font-family: "Titillium Web", "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif !important;
}

html,
body,
form {
    font-size: 12px;
    height: 100%;
}

body {
    background-color: #FFFFFF;
    margin: 0;
}

#RightMenu {
    padding: 12px 12px 0 0 !important;
}

#MainMenu {
    padding: 0 8px;
}

.footer-text {
    color: white;
    padding: 6px;
}

.footer-links a {
    padding-right: 8px;
}

.theme {
    background-color: #67238b !important;
}

#Footer {
    background-color: #f7f1fb;
    border-top: 1px solid #eddaf9;
    min-height: 36px;
    padding: 12px;
}

#SearchInput:hover,
#SearchInput:active,
#SearchInput:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #754092;
    box-shadow: none;
}

#tree {
    color: #dbb7ed;
}

/* Padding Start*/

.pad8 {
    padding: 8px;
}

.tpad8 {
    padding: 8px 0 0 0;
}

.rpad8 {
    padding: 0 8px 0 0;
}

.bpad8 {
    padding: 0 0 8px 0;
}

.lpad8 {
    padding: 0 0 0 8px;
}

.vpad8 {
    padding: 8px 0;
}

.pad16 {
    padding: 16px;
}

.tpad16 {
    padding: 16px 0 0 0;
}

.rpad16 {
    padding: 0 16px 0 0;
}

.bpad16 {
    padding: 0 0 16px 0;
}

.lpad16 {
    padding: 0 0 0 16px;
}

.vpad16 {
    padding: 16px 0;
}

/* Padding End*/

/* Margin Start */

.vmargin8 {
    margin: 16px 0 !important;
}

/* Margin End */

label {
    cursor: pointer;
}

.text-secondary {
    color: #7c0c80;
}

.scrud-command-panel-button,
.scrud-button {
    margin-right: 4px;
}

.label-cell {
    width: 240px;
}

.control-cell {
    padding: 4px;
}

    .control-cell span {
        display: inline;
    }

    .control-cell label {
        padding: 4px;
    }

table[role=scrud] {
    width: 100%;
}

a[role=item-selector] {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAA81BMVEUAAAAAfrYAfrZ5udZ8u9cAfrZ0t9V0t9UAfrYAfrYAfrZqstJttNNrs9IAfrZUp8wulcJFoMhGoMlEn8gAfrYfjb49nMY9nMY7m8YdjL4fjb74+Pj19/ju9fe+6PPW7/Xf8fYAfrYRhrrK4uzV7/U5msWw1eW96PPv9vcBfrYDf7e/6fPz9vfg8fYCf7eo4/ENhLkQhrrO4+3L7PQTh7sTiLvM7PTR5e4ejb4pksEEgLc6m8bh7fLi7fLk7vPm7/NVqM1Yqc1jr9Brs9JzttXN4+0Zir3G4Oup4/Gv1OWTxt252ee62eeUx92o4vF5udbE3+oQSryJAAAAG3RSTlMADxAdHjA6PD9PX25ucK+/1tra29/i5ebm+/s4jNsSAAAAuUlEQVR4Xm2P5W7DQBCEnbQNM/Sc7KEZwsxcxvd/mvZ8VSVLmX/zaUezo11Vut7u9VDx35enx7ed+WXot39+8QRS+zVS9wMTABOCYT6MUrUDAOGWxQmcdAnaL4D52KVjjt99CYINEMv97FNGRgqMfgHtP4fM+2hJcH+RERrOuh27KkHhcQuEM9b1nCAV9aLlHDDxOs6koh67Qcb5++HVXjVFKalQHvl+q55KNETjLjYyI0QmPjuX1X4AQ3QWeDVDvE4AAAAASUVORK5CYII=') /*/Resource/
        s/search-16.png*/ no-repeat;
    background-position: 4px 4px;
    display: inline-block;
    height: 20px;
    outline: none;
    width: 20px;
}

.big.error {
    color: #d4610e;
    font-size: large;
    font-weight: bold;
}

.exception,
.exception:hover {
    color: #d4610e;
    font-weight: lighter;
}

.error-message {
    color: #d4610e;
    display: block;
    font-weight: bold;
}

#FormPanel {
    padding: 12px;
}

.scrud-grid td,
.scrud-grid th {
    padding: 8px;
}

.scrud-grid th {
    background-color: #f3e3fc;
}

.scrud-grid tr:hover {
    background-color: #f3e3fc;
}

.gridview-row-alt {
    background-color: #fbf5fe;
}

table .form-control label {
    padding: 6px !important;
}

.heading {
    cursor: pointer;
    padding-top: 12px;
}

    .heading span {
        font-size: 36px;
        font-weight: lighter !important;
    }

.form-description {
    border-bottom: 1px dotted;
    color: #67238B;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    padding-bottom: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #67238B;
    cursor: pointer;
    font-weight: lighter;
}

    h1:hover,
    h2:hover,
    h3:hover,
    h4:hover,
    h5:hover,
    h6:hover {
        color: #7c0c80;
    }

.pointer {
    cursor: pointer;
}

.dropdown li a {
    font-size: 11px;
}

.widget {
    cursor: move;
    height: 100%;
}

    .widget i {
        cursor: pointer;
    }

    .widget .right.floated {
        float: right;
    }

    .widget .left.floated {
        float: left;
    }

.sortable-item {
    margin-bottom: 24px;
}

.legend {
    display: inline-block;
    white-space: nowrap;
}

    .legend .legend-title {
        border-style: solid;
        border-width: 0 0 0 1em;
        margin: 0.5em;
        padding: 0 0.3em;
    }

#sortable-container .panel-body {
    overflow-x: auto;
}

.item-selector-modal .modal-body {
    height: 80vh;
}

.item-selector-modal .modal-dialog {
    width: 80vw;
}

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

.popunder {
    z-index: 5;
}

#info-panel {
    -ms-border-radius: 8px;
    background-color: #F1FCD9;
    border: 1px solid #D6EAAA;
    border-radius: 8px;
    color: #1C8F0A;
    display: block;
    font-weight: bold;
    padding: 24px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 240px;
}

    #info-panel td {
        padding: 4px;
    }

.pad4 {
    margin: 2px !important;
    padding: 2px !important;
}

.number,
.currency {
    text-align: right;
}

.table-form-pad tr td {
    padding: 2px;
}

.shade {
    -ms-border-radius: 8px;
    background-color: #FDFAFE;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 8px;
    padding: 12px;
}

    .shade:hover {
        background-color: #fbf5fe;
        border-color: #f3e3fc;
    }

input[readonly],
input[disabled],
textarea[readonly],
textarea[disabled],
select[readonly],
select[disabled] {
    background-color: #f0f0f0 !important;
    cursor: not-allowed;
}

.date {
    cursor: pointer;
}

#ProductGridView .footer-row {
    margin: 0 !important;
    padding: 0 !important;
}

.dirty {
    -moz-border-radius: 4px !important;
    -moz-box-shadow: 0 0 2px #e8003d !important;
    -webkit-border-radius: 4px !important;
    -webkit-box-shadow: 0 0 2px #e8003d !important;
    border: 1px solid #e8003d !important;
    border-radius: 4px !important;
    box-shadow: 0 0 2px #e8003d !important;
}

.span-icon {
    padding: 4px;
}

.input-group-addon {
    cursor: pointer;
}

.table2 th,
.table2 td {
    padding: 8px;
}

a {
    /*color: @title-color;*/
    color: inherit;
    outline: none;
}

    a:hover,
    a:active,
    a:focus {
        text-decoration: none !important;
        /*color: @title-color-hover;*/
    }

#user-panel .dropdown {
    margin-top: -6px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #fbf5fe;
}

textarea {
    resize: none;
}

/*jstree Override Start*/

.jstree-selected div,
.jstree-clicked,
.jstree-wholerow-hovered,
.jstree-hovered,
.jstree-default .jstree-wholerow-clicked {
    background: #4E0572 !important;
    background: -moz-linear-gradient(top, #4E0572 0%, #570680 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4E0572), color-stop(100%, #570680));
    background: -webkit-linear-gradient(top, #4E0572 0%, #570680 100%);
    background: -o-linear-gradient(top, #4E0572 0%, #570680 100%);
    background: -ms-linear-gradient(top, #4E0572 0%, #570680 100%);
    background: linear-gradient(to bottom, #4E0572 0%, #570680 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 );*/
    color: #FFFFFF !important;
}

.jstree-search {
    color: #67238B !important;
    font-style: normal !important;
}

/*jstree Override End*/

.hidden {
    display: none;
}

#ScrudUpdatePanel .button {
    margin: 1px;
}

.control-cell input {
    float: left;
}

.form-panel {
    width: 620px;
}

.title span,
#TitleLabel {
    font-size: 24px;
}

tr {
    cursor: pointer;
}

#flag-popunder {
    z-index: 1000;
}

table.borderless td {
    border: none;
}

#MainContent {
    min-height: 1000px;
    padding: 0 12px;
}

.text-right,
.text-right td,
.text.right {
    text-align: right !important;
}

.block {
    display: block;
}

table.segment tr td a.pointer {
    color: #333333 !important;
    padding: 0 4px;
}

    table.segment tr td a.pointer .icon:hover {
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        -webkit-transform: scale(2);
        color: #009fda;
        transform: scale(2);
    }

table.segment tr.negative td a.pointer .icon:hover {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    color: #cd2929;
    transform: scale(2);
}

table.segment tr.positive td a.pointer .icon:hover {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    color: #119000;
    transform: scale(2);
}

.tiny.segment {
    width: 400px;
}

.mini.segment {
    width: 500px;
}

.small.segment {
    width: 600px;
}

.normal.segment {
    width: 700px;
}

.widget .segment {
    overflow: auto;
}

table.nowrap {
    white-space: nowrap;
}

table.ui.form td {
    padding: 2px !important;
}

table.ui.form .tiny {
    width: 70px !important;
}

table.ui.form .mini {
    width: 90px !important;
}

table.ui.form .small {
    width: 100px !important;
}

table.ui.form .compact {
    width: 150px !important;
}

table.ui.form .medium {
    width: 200px !important;
}

table.ui.form .normal {
    width: 250px !important;
}

select option,
select optgroup {
    font-size: 11px;
    padding: 2px 12px;
}

.ui.form select {
    font-size: 11px;
    height: 32px;
}

.auto-overflow-panel {
    overflow: auto;
    width: 100%;
}

.strong {
    font-weight: bold;
}

.dotted.underline {
    border-bottom: 1px dotted black;
}

.hint {
    background-color: #F3F3F8;
    font-size: 1.1rem;
    font-weight: bold;
}

.ui-widget-content {
    z-index: 2 !important;
}

.no-pointer-events {
    cursor: default;
    pointer-events: none;
}

.sidebar {
    border-right: 1px solid #D4D4D5;
    overflow: auto;
}

#Logo img {
    max-height: 54px;
    padding: 12px 0 0 12px !important;
}

@media only screen and (min-width: 960px) {
    #signin-form {
        bottom: 0;
        height: 500px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 600px;
    }
}

.theme,
#SignInBody {
    background-color: #67238B !important;
}

.contrast.theme {
    background-color: #763997 !important;
}

/*jstree Override Start*/

.jstree-selected div,
.jstree-clicked,
.jstree-wholerow-hovered,
.jstree-hovered,
.jstree-default .jstree-wholerow-clicked {
    background: #f2e7fa !important;
    background: -moz-linear-gradient(top, #f2e7fa 0%, #ebd9f7 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2e7fa), color-stop(100%, #ebd9f7));
    background: -webkit-linear-gradient(top, #f2e7fa 0%, #ebd9f7 100%);
    background: -o-linear-gradient(top, #f2e7fa 0%, #ebd9f7 100%);
    background: -ms-linear-gradient(top, #f2e7fa 0%, #ebd9f7 100%);
    background: linear-gradient(to bottom, #f2e7fa 0%, #ebd9f7 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 );*/
    color: #67238B !important;
}

#tree li,
.jstree-search {
    font-style: normal !important;
    font-weight: 100 !important;
}

#tree li {
    color: rgba(0, 0, 0, 0.8) !important;
}

/*jstree Override End*/

.initially.hidden {
    display: none !important;
}

.text.right {
    text-align: right !important;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
    display: none !important;
}

#PhoneMenu a {
    display: block !important;
    font-weight: bold;
    padding: 8px 0;
    text-align: center !important;
}

    #PhoneMenu a:hover {
        color: #A333C8;
    }

.large.icon {
    font-size: 34px !important;
    text-align: center !important;
}

.ui.link span.text {
    display: block !important;
    padding: 8px 0 !important;
    text-align: center !important;
}

@media only screen and (min-width: 768px) {
    .large.icon {
        -moz-transition: all 15s ease-out;
        -ms-transition: all 15s ease-out;
        -o-transition: all 15s ease-out;
        -webkit-transition: all 15s ease-out;
        transition: all 15s ease-out;
    }

        .large.icon:hover {
            -moz-transform: rotate(360deg) scale(1.5);
            -ms-transform: rotate(360deg) scale(1.5);
            -o-transform: rotate(360deg) scale(1.5);
            -webkit-transform: rotate(360deg) scale(1.5);
            transform: rotate(360deg) scale(1.5);
        }
}

@media only screen and (max-width: 768px) {
    .ui.mobile.divider {
        padding-bottom: 24px !important;
    }

    .computer.only {
        display: none !important;
    }
}

.negative.modal .orange.header {
    color: #F2711C;
}

@media only screen and (min-width: 768px) {
    .cellphone.only {
        display: none !important;
    }
}