html,
body {
    font-size: 12px;
    height: 100%;
}

/* Padding Start*/

.pad8 {
    padding: 8px;
}

.tpad8 {
    padding: 8px 0 0 0;
}

.rpad8 {
    padding: 0 8px 0 0;
}

.bpad8 {
    padding: 0 0 8px 0;
}

.lpad8 {
    padding: 0 0 0 8px;
}

.vpad8 {
    padding: 8px 0;
}

.pad16 {
    padding: 16px;
}

.tpad16 {
    padding: 16px 0 0 0;
}

.rpad16 {
    padding: 0 16px 0 0;
}

.bpad16 {
    padding: 0 0 16px 0;
}

.lpad16 {
    padding: 0 0 0 16px;
}

.vpad16 {
    padding: 16px 0;
}

/* Padding End*/

/* Margin Start */

.vmargin8 {
    margin: 16px 0 !important;
}

/* Margin End */

label {
    cursor: pointer;
}

.big.error {
    color: #d4610e;
    font-size: large;
    font-weight: bold;
}

.exception,
.exception:hover {
    color: #d4610e;
    font-weight: lighter;
}

.error-message {
    color: #d4610e;
    display: block;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

.popunder {
    z-index: 5;
}

.number,
.currency {
    text-align: right;
}

.table-form-pad tr td {
    padding: 2px;
}


input[readonly],
input[disabled],
textarea[readonly],
textarea[disabled],
select[disabled] {
    background-color: #f0f0f0 !important;
    cursor: not-allowed;
}

.date {
    cursor: pointer;
}

.dirty {
    -moz-border-radius: 4px !important;
    -moz-box-shadow: 0 0 2px #e8003d !important;
    -webkit-border-radius: 4px !important;
    -webkit-box-shadow: 0 0 2px #e8003d !important;
    border: 1px solid #e8003d !important;
    border-radius: 4px !important;
    box-shadow: 0 0 2px #e8003d !important;
}


textarea {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
}

.hidden {
    display: none;
}

.text-right,
.text-right td,
.text.right {
    text-align: right !important;
}

.block {
    display: block;
}

table.nowrap {
    white-space: nowrap;
}

.auto-overflow-panel {
    overflow: auto;
    width: 100%;
}

.strong {
    font-weight: bold;
}

.no-pointer-events {
    cursor: default;
    pointer-events: none;
}

.initially.hidden {
    display: none !important;
}

.text.right {
    text-align: right !important;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
    display: none !important;
}

@media only screen and (min-width: 768px) {
    .cellphone.only {
        display: none !important;
    }
}


.image.preview {
    filter: gray; /* IE6-9 */
    filter: grayscale(0.6); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    cursor: pointer;
}

    /* Disable grayscale on hover */
    .image.preview:hover {
        filter: gray; /* IE6-9 */
        filter: grayscale(0.4); /* Microsoft Edge and Firefox 35+ */
        -webkit-filter: grayscale(0.2);
    }
