<!DOCTYPE html>
<html data-ng-app="FrapidApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Frapid Framework" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/semantic-ui/semantic.min.js"></script>
    <link href="~/Scripts/semantic-ui/semantic.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>