@{
    ViewBag.Title = "Unsubscribe";
    Layout = ViewBag.LayoutPath + ViewBag.Layout;
}
<script src="/Scripts/frapid/core/frapid-ajax.js"></script>

<div class="ui vertically padded basic segment">
    <div class="ui story container">
        <div class="ui grey header">Unsubscribe from our mailing list</div>
        <div class="ui divider"></div>
        <p>
            We are sorry that you had this experience! <br/><br/>
            Although we want you to stay connected with us, it seems that you already made a choice. <br/>
            We appreciate your decision to not receive emails from our mailing list anymore. <br/>
        </p>
        <p>
            Once you confirm to unsubcribe, <strong>we won't send you</strong> automated emails anymore.
        </p>
        <div class="ui center aligned page subscription grid">
            <div class="column">
                <div class="ui green header">We will miss you!</div>
                <div class="ui subscription form">
                    <div class="field">
                        <div class="ui input">
                            <input id="EmailAddressInputEmail" placeholder="Enter your email address to unsubscribe" type="email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui confirm email input">
                            <input id="ConfirmEmailAddressInputEmail" placeholder="Enter your email address here" type="email">
                        </div>
                    </div>
                    <div class="field">
                        <input type="hidden" id="TokenHiddenInputHidden" value="@ViewBag.Token"/>
                    </div>
                    <button class="ui negative button" onclick="unsubscribe()">Unsubscribe Me</button>
                    <button class="ui positive button">Cancel</button>
                </div>
                <div class="ui positive thank you message" style="display: none;">Thank you for unsubscribing.</div>
            </div>
        </div>
    </div>
</div>
<script src="/Areas/Frapid.WebsiteBuilder/Scripts/Subscription/Remove.js"></script>
