<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="InstalledApplications" value="Frapid, Frapid.Account, Frapid.Authorization, Frapid.Config, Frapid.Core, Frapid.Dashboard, Frapid.WebsiteBuilder" />
    <add key="RemovedApplications" value="" />
    <add key="IgnoredApplications" value="" />
  </appSettings>
</configuration>