#dashboard-container {
    padding: 1em 0 !important;
}

.padded.container {
    padding: 2em !important;
}

.collapsed.column {
    padding: 0 !important;
}

.pusher, .ng-scope {
    height: 100% !important;
}

.report-panel {
    background-color: #949596;
    padding-bottom: 4em;
}

.toolbar {
    background-color: #444;
    padding-left: 1em;
    text-align: left;
}

    .toolbar .button {
        background: transparent;
        border: 0;
        color: #dadada;
        cursor: pointer;
        display: inline-flex;
        font-size: 0.8em;
        height: 3.5em;
        margin: 2px;
        padding: 0.8em;
        text-shadow: 2px 2px 20px white;
        width: 2.5em;
    }

        .toolbar .button:hover {
            background-color: green;
        }

iframe {
    background-color: #fafafa;
    border: none;
    display: block;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 2em 2em 0 2em;
    width: 1000px;
}

.vertically.very.relaxed {
    padding: 3em 0;
}

.filter.container {
    padding: 1em;
}

.report.title {
    font-size: 1.2em !important;
    padding: 0 0 1em 0;
    font-weight: 600;
    text-transform: uppercase;
    color: #666;
}
