<footer class="ui inverted vertical violet footer segment" style="min-height: 250px;">
    <div class="ui container">
        <div class="ui stackable three column grid">
            <div class="column">
                <div class="ui inverted dividing header"><i class="code icon"></i> About Frapid </div>
                <p> Frapid is an open source and free application framework that provides a suite of useful modules to help you manage your day to day business activities, including but not limited to CRM, HRM, ERP, Website, and Blogging. Developed with love by your friends at MixERP Inc.</p>
            </div>
            <div class="column">
                <div class="ui inverted dividing header"><i class="external icon"></i> Links </div>
                <ul class="footer-links">
                    <li><a href="http://frapid.com/" target="_blank"> Project Website </a>
                    </li>
                    <li><a href="http://mixerp.org/forum" target="_blank"> Ask a Question </a>
                    </li>
                    <li><a href="https://github.com/frapid/frapid/issues" target="_blank"> Submit an Issue </a>
                    </li>
                    <li><a href="https://github.com/frapid/frapid/releases" target="_blank"> Download Frapid </a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/mixerp" target="_blank">MixERP on LinkedIn</a>
                    </li>
                    <li><a href="https://www.facebook.com/mixerp.official/" target="_blank">MixERP on Facebook </a>
                    </li>
                    <li><a href="http://www.facebook.com/groups/183076085203506/" target="_blank"> Facebook Group </a>
                    </li>
                    <li><a href="http://twitter.com/mixoferp/" target="_blank"> Follow MixERP on Twitter </a>
                    </li>
                    <li style="list-style: none; display: inline">
                        <ul></ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>